.wrapper {
	border: 1px solid #000000;
	width: 400px;
	margin: 50px auto 0px auto;
	padding-left: 10px;
}

.title {
	margin: 0px;
	text-align: center;
}

.field-container {
	margin-bottom: 8px;
}

.error-field {
	border: 1px solid #ff0000;
}

.error-message {
	color: red;
}

label {
	width: 100px;
	display: inline-block;
}
